## Lab Exercise_4 - PANDAS - DATA ANALYSIS

### About the dataset (Customer Tip Data)

The dataset contains information about the 244 orders served at a restaurant in the United States. Each observation includes the factors related to the order like total bill, time, the total number of people in a group, gender of the person paying for the order and so on.

Attribute Information:

**total_bill:** Total bill (cost of the meal), including tax, in US dollars

**tip:** Tip in US dollars

**sex:** Sex of person paying for the meal

**smoker:** There is a smoker in a group or not

**day:** Day on which the order is served

**time:** Time of the order

**size:** Size of the group

**Import the required libraries**

In [1]:
# type your code here
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

#### Load the customer tip dataset and print the first five observations

In [9]:
# type your code here
customer_tip = pd.read_csv('customer_tip.csv')
customer_tip.head(5)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

### Let's begin with some hands-on practice exercises

### 1. Print the column names of categorical and numerical variables in the data

In [2]:
# type your code here

### 2. Print the average value of Total bill amount and tips

In [3]:
# type your code

### 3. Compute the average bill amount for each day

In [4]:
# type your code here

### 4. Which gender is more generous in giving the tip?</b>

In [5]:
# type your code here

### 5. According to the data, were there more customers for dinner or lunch? </b>

In [6]:
# type your code here

### 6. comment on the variable 'tip' based on its measure of dispersion

In [7]:
# type your code here

### 7. Plot the distribution of bill amount and tip and comment about its normality

In [8]:
# type your code here

### 8. Is the variable 'total_bill' skewed? If yes, identify the type of skewness. Support your answer with a plot

In [9]:
# type your code here

### 9. Analyze the realation between bill_amount and tips

### 10. Find the covaraiance and correlation between bill_amount and tips. Infer the results

### 11. Analyze the realtion between bill_amount, tips and sex

### 12. Find the average number of customer for dinner and Lunch for each day

### 13. Find the average bill-amount  for dinner and Lunch for each day

### 14. Comment about the tips given by the smokers

### 15.Create a Pivot table with sex and smokers with their average tip amount

### 16. Compute the tips per person for each observation (tips/size)